<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Property Advisor</title>
</head>
<body>
    <div class="container">
        <!-- Add the image at the top of the form -->
        <img src="{{ url_for('static', filename='images/RoboProp.png') }}" alt="Robot Logo" class="logo">
        
        <h2>RoboProp Advisor</h2>
         <form action="/check_scam" method="post">
            <button class="button" type="submit">Check for Scam</button>
        </form>
            
    </div>
</body>
</html>